body {
    padding: 1em 3em;
  }
  .dataTables_filter {
    float: right;
    margin-bottom: 1em;
  }
  .dataTables_filter:after {
    clear: both;
  }
  .dt-buttons a .glyphicon {
    visibility: hidden;
  }
  .dt-buttons a:hover .glyphicon {
    visibility: visible;
  }
  
  