body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 500px;
  height: 300px;
  perspective: 1000px;
  
  position: absolute;
 
  right: 200px;
  bottom: 125px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card h2{
  margin-top: 125px;
  color: #ddd;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  height:auto;
  transform: rotateY(180deg);
}

.flip-card-back textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.flip-card-back .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 12px;
  margin-bottom:10px;
  opacity: 0.8;

}
.flip-card-back textarea {
  width:400px;
  height:50px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  
}
.flip-card-back .btn:hover{
  opacity: 1;
}
